<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<h1>This is the list of all my cocktails</h1>
<h2><% @cocktails.each do |cocktail| %></h2>
<p><%= cocktail[:name] %></p>
<% end %>
